name: Laravel Testing

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  laravel-testing:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Docker Version
        run: docker version

      - name: Build Docker Image
        run: docker compose build

      - name: Start Docker Containers
        run: docker compose up -d

      - name: Wait for DB
        run: |
          for i in {1..30}; do
            docker compose exec -T app php -r 'try { new PDO("mysql:host=db;dbname=laravel", "phper", "secret"); exit(0); } catch (Exception $e) { echo "Waiting for DB...\n"; sleep(2); }'
          done

      - name: Setup Laravel
        run: |
          docker compose exec -T app composer install
          docker compose exec -T app cp .env.example .env
          docker compose exec -T app php artisan key:generate
          docker compose exec -T app php artisan config:clear

      - name: Migrate & Test
        run: |
          docker compose exec -T app php artisan migrate
          docker compose exec -T app php artisan test
